@import './base.css';
@tailwind base;
@tailwind components;
@tailwind utilities;

#app {
  margin: 0 auto;
  padding: 1rem;
  font-weight: normal;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
